<div class="container text-center mt-4 head">
  <h2 class="text-white">MY GROUPS</h2>
</div>
<div class="container-fluid">
  <div class="row">
    <% current_user.groups.each do |group| %>
    <div class="col-lg-4 col-md-6 col-12">
      <div class="custom-group-card d-flex mt-4 m-2">
        <img src="<%= group.photo %>">
          <div class="custom-group-card-info m-0">
            <h2 class="m-0 mb-1"><%= group.name %></h2>
            <p class="m-0"><% group.users.first(2).each do |user| %><%= "#{user.name}, "%><% end %> <%= "#{group.users.last.name}..."%> </p>
          </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
