.card-event {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-event > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-event h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-event p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-event .card-event-infos {
  padding: 25px 16px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  position: relative;
}

.buttons {
  margin: 20px 0px;
}

.map {
  background-color: red;
  padding: 40px 0;
  text-align: center;
}

.event-time {
  background-color: #F25004;
  box-shadow: 1px 1px 10px (black, 1);
  border-radius: 5px;
  padding: 0.5rem;
  p {
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
}

.asd {
  flex-direction: column;
  p {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
  }
}
