.event-image {
  position: relative;
  height: 50vh;
  img:first-child {
    width: 100%;
  }
  .card-event-user {
    z-index: 1;
    height: 100px;
    position: absolute;
    bottom: -45px;
    left: 60px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  }
}

.event-cont {
  margin-top: 1rem;
  margin-bottom: 4rem;
  display: flex;
  height: auto;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  .text {
    padding: 0 1rem;
    padding-top: 1rem;
  }
}
.comment {
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.buttons {
  margin: 20px 0px;
}

.map {

}

.asd {
  flex-direction: column;
  justify-content: flex-start;
  p {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
  }
}
