.custom-group-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  border-radius: 3px;
  min-height: 100px;
  align-items: center;
  &-info {
    padding: 6% 0;
  }
  p {
    margin: 0;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    opacity: .6;
    text-indent: 0.03em;
  }
  h2 {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 3px;
  }
  img {
    margin: 0 3%;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    object-fit: cover;
  }
}
