.custom-group-card {
  overflow: hidden;
  background: white;
  position: relative;
  border-radius: 3px;
  height: 100px;
  align-items: center;
  transition: all 1s ease;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  &:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  }
  &-info {
    padding: 6% 0;
  }
  p {
    margin: 0;
    font-size: 0.7rem;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    opacity: .6;
    text-indent: 0.03em;
    text-decoration: none;
  }
  h2 {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 3px;
    text-decoration: none;
  }
  img {
    margin: 0 3%;
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
}
a {
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }

}

.main-container {
  max-width: 800px;
}
