.box-w {
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 25px;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  .primary-button {
    padding: 1rem 2rem;

  }
}
.container-fluid {
   h2 {
  color: white;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  }
}

.bottom-text {
  color: white;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.head {
  letter-spacing: 0.3rem;
}
