.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.planeo-logo {
  img {
    background: #F25004;
    width: 100px;
    height: 50px;
    margin: 0;
  }
}

.navbar {
  padding: 0.2rem 0.2rem !important;
  opacity: 0.9;
}

ul {
  list-style: none;
}
